<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.ProjectDao">
    <select id="selectByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from project
        where name = #{name}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from project
    </select>

    <select id="selectBySearchAble" parameterType="model.po.Project" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from project
        <where>
            <if test="name != null">
                where id = #{id},
            </if>
            <if test="name != null">
                and name = #{name},
            </if>
            <if test="type != null">
                and type = #{type},
            </if>
            <if test="field != null">
                and field = #{field}
            </if>
        </where>

    </select>
</mapper>